<mat-card *ngIf="profile" class="margin-medium padding-small">
    <mat-card-header>
        <mat-card-title-group>
            <img mat-card-sm-image alt="Image du profile" [src]="profile.profilePicture">
            <mat-card-title>{{ profile.profileName }}</mat-card-title>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-actions *ngIf="canModify">
        <button mat-button [routerLink]="['/parent/profil/update', profile.profileId]"
            routerLinkActive="router-link-active">MODIFIER</button>
        <button mat-button (click)="deleteProfile(profile.profileId)">SUPPRIMER</button>
    </mat-card-actions>
</mat-card>