<div>
    <button mat-icon-button (click)="back()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="flex flex-center flex-column">
        <h2>Créer une tâche</h2>
        <form *ngIf="form" [formGroup]="form">
            <div class="flex flex-center flex-column g-3">
                <app-image-select formControlName="picture" label="Icones" [pictures]="taskPictures"></app-image-select>
                <app-input-form-field label="Prénom" fieldType="input" formControlName="name"
                    [maxLength]=50></app-input-form-field>
                <app-input-form-field label="Description" fieldType="textarea" formControlName="description"
                    [maxLength]=500></app-input-form-field>
                <mat-slide-toggle formControlName="mandatory" labelPosition="before" required>
                    Obligatoire
                </mat-slide-toggle>
                <app-select-form-field label="Catégorie" [formControlName]="'category'"
                    [options]="taskCategory"></app-select-form-field>
                <app-select-form-field label="Fréquence" [formControlName]="'frequency'"
                    [options]="taskFrequency"></app-select-form-field>
                <app-select-form-field label="Moment de la journée" [formControlName]="'timesOfDay'"
                    [options]="taskTimesOfDay" [multiple]=true></app-select-form-field>
                <mat-button-toggle-group formControlName="daysOfWeek" multiple vertical>
                    <mat-button-toggle *ngFor="let day of taskDaysOfWeek" [value]="day">
                        {{ day }}</mat-button-toggle>
                </mat-button-toggle-group>
                <button mat-raised-button color="secondary" type="submit">CREER</button>
            </div>
        </form>
    </div>
</div>