@use '@angular/material' as mat;
@use 'framework' as *;
@use 'colors' as *;
@use 'theme-colors' as *;
@use 'sass:map';


html {
    @include mat.theme((color: (primary: $primary-palette,
                tertiary: $tertiary-palette,
                theme-type: light,
            ),
            typography: Roboto,
            density: 0));
}

// 🎨 Couleur de la mat-toolbar (pour qu’elle match le logo)
:root {
    @include mat.toolbar-overrides((container-background-color: $logoBackgroundColor,
            container-text-color: map.get($colors, 'dark-blue')));
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    gap: 1rem;
}